@{
    ViewBag.Title = "Tietoja";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

Jusoft Oy on juuri perustettu yhtiö, joka tuottaa ohjelmistoja,<br />
sekä testauspalveluja eri yrityksille.<p>
</p>
Jos haluat tietää lisää, niin ota yhteyttä jos puhelimella <br/>
tai lähettämällä sähköpostia, jotka löytyvät yhteystiedoista.
