@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
  <strong>  Jusoft Oy </strong><br /><p>
    </p>
    Jootie 11<br />
    Hälsinki <br />
    <abbr title="Phone">P:</abbr>
    +358 45 xxx xxxx
</address>

<address>
    <strong>Tuki ja Markkinointi:</strong> <a href="mailto:joo.joo@joo.fi">Lähetä sähköpostia tästä</a><br />
    
</address>