@{
    ViewBag.Title = "Home Page";
}

<div id="otsikko" class="jumbotron">
   
    <h1>AsiakasTietoKanta</h1>
    <!-- <p class="lead"></p> -->

    <p><a href="/Asiakkaan_henkilötiedot/Index" class="btn btn-primary btn-lg" style="width:420px">Henkilötiedot &raquo;</a></p>
    <p><a href="/Asiakkaan_hoitotiedot/Index" class="btn btn-primary btn-lg" style="width:420px">Asiakkaan hoitotiedot &raquo;</a></p>
    <p><a href="/Asiakkaan_omaisuu/Index" class="btn btn-primary btn-lg" style="width:420px">Asiakkaan omaisuus &raquo;</a></p>
    <p><a href="/Hemodynamiikkas/Index" class="btn btn-primary btn-lg" style="width:420px">Hemodynamiikka &raquo;</a></p>
    <p><a href="/Rokotuslistas/Index" class="btn btn-primary btn-lg" style="width:420px">Rokotuslista &raquo;</a></p>
    <p><a href="/Vuokrasopimus/Index" class="btn btn-primary btn-lg" style="width:420px">Vuokrasopimus &raquo;</a></p>
    <p><a href="/Asiakkaan_rahan_käyttö/Index" class="btn btn-primary btn-lg" style="width:420px">Asiakkaan rahan käyttö &raquo;</a></p>
    <p><a href="/Lääkelista/Index" class="btn btn-primary btn-lg" style="width:420px">Lääkelista &raquo;</a></p>
    <p><a href="/Fysioterapian_kirjaukset/Index" class="btn btn-primary btn-lg" style="width:420px">Fysioterapian kirjaukset &raquo;</a></p>
    <p><a href="/Infektion_seuranta_ja_hoito/Index" class="btn btn-primary btn-lg" style="width:420px">Infektion seuranta ja hoito &raquo;</a></p>
    <p><a href="/Lääkärin_lausunnot_ja_hoitosuunnitelmat/Index" class="btn btn-primary btn-lg" style="width:420px">Lääkärinlausunnot ja hoitosuunnitelmat &raquo;</a></p>
    <p><a href="/Muistihoitajan_sivu/Index" class="btn btn-primary btn-lg" style="width:420px">Muistihoitajan sivu &raquo;</a></p>
    <!-- Tämä ei vaan toimi.
    <p><a href="/Tehtävälista_asukkaan_saapuessa_palvelutaloon/Index" class="btn btn-primary btn-lg" style="width:420px">Tehtävälista asukkaan saapuessa palvelutaloon &raquo;</a></p>
    -->
    <p><a href="/Vointi_päiväkirja/Index" class="btn btn-primary btn-lg" style="width:420px">Vointi päiväkirja &raquo;</a></p>
</div>