@{
    ViewBag.Title = "Vahvista Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Kiva kun vahvistit emailin. Ole hyvä @Html.ActionLink("Klikkaa tästä kirjautuaksesi sisään", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
